# [기타 설정 및 메타데이터]
.metadata/
.gitattributes
cd

# [프로젝트 내부 빌드 및 설정 파일 (경로 수정 완료)]
todoit/HELP.md
todoit/.gradle
todoit/build/
!todoit/gradle/wrapper/gradle-wrapper.jar
!todoit/**/src/main/**/build/
!todoit/**/src/test/**/build/

### STS / Eclipse ###
todoit/.apt_generated
todoit/.classpath
todoit/.factorypath
todoit/.project
todoit/.settings
todoit/.springBeans
todoit/.sts4-cache
todoit/bin/
!todoit/**/src/main/**/bin/
!todoit/**/src/test/**/bin/

### IntelliJ IDEA ###
todoit/.idea
todoit/*.iws
todoit/*.iml
todoit/*.ipr
todoit/out/
!todoit/**/src/main/**/out/
!todoit/**/src/test/**/out/

### NetBeans (혹시 몰라 경로만 수정) ###
todoit/nbproject/private/
todoit/nbbuild/
todoit/dist/
todoit/nbdist/
todoit/.nb-gradle/

### VS Code ###
todoit/.vscode/

# [DB 관련]
# 만약 mySQL_DB 안에 임시 로그파일 등이 생긴다면 아래에 추가하세요.