
.signup-container {
  background-color: #ffffff; /* 흰색 박스 */
  width: 100%;
  max-width: 500px;         /* 박스 너비 고정 */
  padding: 20px 20px;       /* 내부 여백 */
}

.signup-container h3 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 30px;
  font-weight: bold;
}

/* 입력 필드들 정렬 */
.input-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-field input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
}

/* 아이디 중복체크 */
.id-check-row {
	display: flex;
	gap: 8px;
}

.id-check-row input {
	flex: 1;
}

.id-check-msg {
	margin-top: 6px;
	font-size: 13px;
}

.id-check-msg.success {
	color: green;
}

.id-check-msg.fail {
	color: red;
}

.id-check-row button {
    white-space: nowrap;
    border : none;
    border-radius : 6px;
    background-color : #eeeeee;
    cursor: pointer;
}

/*실시간 검증 메세지*/
.field-error-text {
	margin-top: 6px;
	font-size: 13px;
	color: red;
}

/* 회원가입 버튼 */
.submit-btn {
  width: 100%;
  padding: 15px;
  background-color: #6366f1; /* 보라색 포인트 컬러 */
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 50px;
}