/*공통 페이지 css적용*/

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 1. 화면 전체 높이를 사용하도록 설정 */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
}

/* 공통 구조 */
main {
  flex: 1; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%; /* 너비 꽉 차게 */
}

/* 1. 회원가입 등 일반 페이지: 위아래 여백 40px */
.common-main {
  padding: 40px 0;
}

/* 2. 로그인 페이지: 여백 0 (보라색이 꽉 차게!) */
.login-main {
  padding: 0;
}