.main-header {
    width: 100%;
    padding: 30px 0;
    background-color: transparent; 
}

.header-container {
    max-width: 1200px; 
    margin: 0 auto;
    padding-left: 30px; /* 로고가 왼쪽 끝에 붙도록 여백 */
}

.logo-title {
    font-size: 35px;
    color: #6366f1;
    margin: 0;
    font-weight: bold;
    line-height: 1;
    cursor:pointer;
    user-select:none;
}

.logo-subtitle {
    font-size: 15px;
    color: #6366f1;
    margin: 1px 0 0 0;
}