<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace = "com.todoit.intro.signup.SignupMapper">
	<update id="signupUser" statementType="CALLABLE" parameterType="com.todoit.intro.signup.SignupRequestDTO">
        { CALL SIGNUP_USER(
            #{userId,   mode=IN,  jdbcType=VARCHAR},
            #{password, mode=IN,  jdbcType=VARCHAR},
            #{name,     mode=IN,  jdbcType=VARCHAR},
            #{phone,    mode=IN,  jdbcType=VARCHAR},
            #{email,    mode=IN,  jdbcType=VARCHAR},
            #{result,   mode=OUT, jdbcType=INTEGER}
        )}
    </update>
</mapper>