.html, body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}

.login-container {
background-color: #3b71b8; 
  min-height: 100vh; 
  width: 100vw;      
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}